<nav class="navbar navbar-expand-lg fixed-top bg-special">
  <!-- Container wrapper -->
  <div class="container-fluid mx-4">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
      <img
        src="stmlogo.svg"
        height="32"
        alt="О стране и мире"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarbutton"
      aria-controls="navbarbutton"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarbutton">        
        <a class="btn btn-danger rounded-0" href="#Registration" role="button">Зарегистрироваться</a>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->