<div class="bd-toc my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
  <strong class="d-none d-md-block h6 mb-2 ms-3">Навигация</strong>
  <hr class="d-none d-md-block my-2 ms-3">
    <nav>
      <ul>
        <li><a href="#DayOne" class="">День первый</a>
          <ul>
            <li><a href="#Session1" class="">Сессия 1: Эволюция политического режима во время войны</a></li>
            <li><a href="#Session2" class="">Сессия 2: Репрессии и права человека</a></li>
            <li><a href="#Session3" class="">Сессия 3: Антивоенная Россия в эмиграции</a></li>
            <li><a href="#Session4" class="">Сессия 4: Идеология путинского режима после начала вторжения в Украину</a></li>
          </ul>
        </li>
        <li><a href="#DayTwo" class="">День первый</a>
          <ul>
            <li><a href="#Session5" class="">Сессия 5: Мировая политика (начало)</a></li>
            <li><a href="#Session6" class="">Сессия 6: Мировая политика (окончание)</a></li>
            <li><a href="#Session7" class="">Сессия 7: Что мы знаем о настроениях россиян?</a></li>
            <li><a href="#Session8" class="">Сессия 8: Экономика военного времени</a></li>
          </ul>
        </li>
      </ul>
    </nav>
</div>