<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto mb-lg-0 mb-4" alt="Александр Морозов" src="morozov.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Александр Морозов</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Консолидация уехавших, оппозиционный ландшафт: собственный голос российской эмиграции</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto mb-lg-0 mb-4" alt="Инна Березкина" src="berezkina.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Инна Березкина</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Полтора года российской эмиграции: итоги</h5>
        <p>Взаимодействие с европейским истеблишментом, с украинцами, со старыми российскими эмигрантскими организациями: что удалось и чего не удалось? Картина действий: какие ожидания были и запросы, что сделано? Как строится взаимодействие?</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto mb-lg-0 mb-4" alt="Маргарита Завадская" src="zavadskaya.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Маргарита Завадская</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>Кто уехал из России в 2022-2023 годах, что хотят и чего делают эмигранты? Удастся ли им создать жизнеспособные политические структуры? Что думает, ожидает, может, хочет делать уехавшие россияне? Как люди видят свое будущее и что делают (организуются ли образование, наука, русскоязычные сообщества)?</p>
    </div>
</div>