<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Илья Будрайтскис" src="budraitskis.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Илья Будрайтскис</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>Путин полагает, что одни страны обречены быть колониями, другие могут быть империями. Это определяется «правом сильного». Представление о не имеющим границ «русском мире» заложило основу идеи превосходства России над Украиной. Это фашизм?</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Аркадий Островский" src="ostrovsky.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Аркадий Островский</h6>
        <h6 class="lead text-body-secondary">Обозреватель The Economist</h6>
        <h5 class="display-7 fw-bold">Идеология российского реваншизма: как Путин подчинил себе российское общество и элиты?</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Мария Доманска" src="domanska.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Мария Доманска</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>О путинском неототалитаризме и империализме. Удалось ли Путину индоктринировать элиты и население? Какова идеология путинского режима? Есть ли шанс на быстрые изменения после Путина?</p>
    </div>
</div>