<div class="mb-5 d-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto" alt="Сергей Гуриев" src="guriev.jpg" />
    </div>
    <div class="col-9">
        <h6 class="display-8 fw-bold">Сергей Гуриев</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>Почти 20 лет перед войной Путин проводил постепенное огосударствление экономики, раздавал ключевые посты и компании друзьям. Помогло ли это подготовиться к войне? Как экономика смогла выстоять в условиях жестких санкций? Огосударствление экономики в предыдущие годы с середины 2000 - х - помогло этому или наоборот (довоенное развитие российской экономики через призму войны)? Экономическая политика Путина в 2000-2010-е через призму войны. Как может российская экономика существовать в условиях долгой войны? Будет ли российская экономика поставлена на мобилизационные рельсы?</p>
    </div>
</div>

<div class="mb-5 d-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto" alt="Heli Simola" src="simola.jpg" />
    </div>
    <div class="col-9">
        <h6 class="display-8 fw-bold">Heli Simola</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>Чего ожидал Запад от санкций и почему ожидания оказались завышенными? Как российская экономика адаптируется к санкциям? Запад чего-то не просчитал? Почему России удается замещать технологический импорт поставками через третьи страны? Какие прогнозы на 2024? Как меняется бюджетная ситуация, и сможет ли российская экономика долго финансировать войну?</p>
    </div>
</div>

<div class="mb-5 d-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto" alt="Alexander Libman" src="libman.jpg" />
    </div>
    <div class="col-9">
        <h6 class="display-8 fw-bold">Alexander Libman</h6>
        <h6 class="lead text-body-secondary">Свободный университет Берлина</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>О последствиях войны для участия России в мировой экономике. Как изменились торговый баланс и финансовые потоки? Газ пошел в Китай, нефть в Индию. Как изменила зерновая сделка роль России на аграрном рынке?</p>
    </div>
</div>

<div class="mb-5 d-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mx-auto" alt="Павел Лузин" src="luzin.jpg" />
    </div>
    <div class="col-9">
        <h6 class="display-8 fw-bold">Павел Лузин</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>О противостоянии российского и западных ВПК в ходе войны с Украиной. Получается ли у России заместить импортные компоненты при производстве вооружений? Насколько быстро наращивается производство вооружений? В состоянии ли российский ВПК обеспечить вооружениями долгую войну высокой интенсивности?</p>
    </div>
</div>