<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Забине Фишер" src="fischer.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Забине Фишер</h6>
            <h6 class="lead text-body-secondary">Старшая научная сотрудница исследовательской группы Восточной Европы и Евразии Немецкого института международных отношений и безопасности</h6>
            <h5 class="display-7 fw-bold">Внутренние причины российской агрессии против Украины</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Ральф Фюкс" src="fuks.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Ральф Фюкс</h6>
            <h6 class="lead text-body-secondary">Директор Центра либеральной современности</h6>
            <h5 class="display-7 fw-bold">Война России против Украины: момент истины для Европы</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Александр Баунов" src="baunov.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Александр Баунов</h6>
            <h6 class="lead text-body-secondary">Старший научный сотрудник Берлинского центра Карнеги по изучению России и Евразии</h6>
            <h5 class="display-7 fw-bold">Тема уточняется</h5>
        </div>
    </div>
</div>