<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Михаил Минаков" src="minakov.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Михаил Минаков</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Война и мировая политика. Взгляд из Украины, взгляд из Европы</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Александр Габуев" src="gabuev.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Александр Габуев</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>О том, как повлияла война России с Украиной на политику Китая и других развивающихся стран. Как они балансируют между желанием торговать с Россией и опасениями подпасть под вторичные санкции?</p>
    </div>
</div>