<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Лев Гудков" src="gudkov.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Лев Гудков</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Российское общество на втором году войны: взгляд социолога</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Андрей Колесников" src="kolesnikov.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Андрей Колесников</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Российское общество на втором году войны: взгляд политического аналитика</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Светлана Ерпылева" src="yerpileva.jpg" />
    </div>
    <div class="col-lg-9">
        <h6 class="display-8 fw-bold">Светлана Ерпылева</h6>
        <h6 class="lead text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
        <h5 class="display-7 fw-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>О том, как меняется аргументация сторонников войны и тех, кто «держит нейтралитет».</p>
    </div>
</div>