<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Михаил Минаков" src="minakov.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Михаил Минаков</h6>
            <h6 class="lead text-body-secondary">Философ, руководитель украинской исследовательской программы в Kennan Institute</h6>
            <h5 class="display-7 fw-bold">Милитаризация как дух времени. Европейские общества и государства во время войны</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Александр Габуев" src="gabuev.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Александр Габуев</h6>
            <h6 class="lead text-body-secondary">Директор Берлинского центра Карнеги по изучению России и Евразии</h6>
            <h5 class="display-7 fw-bold">Россия в условиях конфронтации Китая с Западом</h5>
        </div>
    </div>
</div>