<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Александра Романцева" src="romantseva.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Александра Романцева</h6>
            <h6 class="lead text-body-secondary">Правозащитник, исполнительный директор Центра гражданских свобод, лауреатка Нобелевской премии мира (Украина)</h6>
            <h5 class="display-7 fw-bold">Обзор международных преступлений, совершенных на территории Украины вследствие агрессии РФ</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Сергей Давидис" src="davidis.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Сергей Давидис</h6>
            <h6 class="lead text-body-secondary">Руководитель независимого правозащитного проекта «Поддержка политзаключенных Мемориал»</h6>
            <h5 class="display-7 fw-bold">Политические репрессии в России как инструмент контроля власти над обществом</h5>
        </div>
    </div>
</div>