<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Александр Морозов" src="morozov.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Александр Морозов</h6>
            <h6 class="lead text-body-secondary">Преподаватель философского факультета Карлова университета (Прага)</h6>
            <h5 class="display-7 fw-bold">Политическое значение эмиграции. Итоги дискуссии 2022-2023 годов</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Инна Березкина" src="berezkina.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Инна Березкина</h6>
            <h6 class="lead text-body-secondary">Программный координатор Школы гражданского просвещения, приглашенный редактор Sapere Online</h6>
            <h5 class="display-7 fw-bold">Помогая другим, мы помогаем себе: открывая заново гражданское чувство во время войны</h5>
        </div>
    </div>
</div>

<div class="mb-5 d-lg-flex">
    <div class="col-3 d-flex flex-wrap align-items-center">
        <img class="rounded-circle img-person-size mb-lg-0 mb-4" alt="Маргарита Завадская" src="zavadskaya.jpg" />
    </div>
    <div class="col-lg-9 d-flex flex-wrap align-items-center">
        <div>
            <h6 class="display-8 fw-bold">Маргарита Завадская</h6>
            <h6 class="lead text-body-secondary">Политолог, социолог, научный сотрудник Финского института международных отношений, участник проекта OutRush</h6>
            <h5 class="display-7 fw-bold">Помогая демократии: как российские эмигранты поддерживают инициативы гражданского общества</h5>
        </div>
    </div>
</div>