@font-face {
	font-family: Evolventa;
	src: local('Evolventa'), url('fonts/evolventa-regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Evolventa;
	src: local('Evolventa Oblique'), url('fonts/evolventa-oblique.woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Evolventa;
	src: local('Evolventa Bold'), url('fonts/evolventa-bold.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Evolventa;
	src: local('Evolventa Bold Oblique'), url('fonts/evolventa-boldoblique.woff');
	font-weight: bold;
	font-style: italic;
}

body {
    font-family: 'Evolventa', sans-serif;
  }

.bg-special {
    background-color: var(--color-bg-blur, rgba(255, 255, 255, .6));
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	border-bottom: 1px solid rgb(237, 239, 242);
}

.conference-image {
    background: url('../russia.svg') center no-repeat;
    background-size: 92%;
}

.img-person-size {
	width: 200px;
	height: 200px;
}