<h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия {{with .ssnumber}}{{.}}{{end}}</mark></h3>
<div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold me-2">{{with .ssname}}{{.}}{{end}}</h3><div class="mb-2 badge fw-normal text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-0 {{with .badgeparam}}{{.}}{{end}}"><span class="display-8">{{with .badgecontent}}{{.}}{{end}}</span></div></div>
<h4 class="display-6 fst-italic mb-4">{{with .sstime}}{{.}}{{end}}</h4>
<p class="lead mb-5">{{with .ssdesc}}{{.}}{{end}}</p>