{{ define "main" }}

<div class="container">

    <div class="row mx-auto">

        <div class="col-2">
            {{ partial "menu.html" . }}
        </div>

        <div class="col-10 ps-5">
            <div class="conference-image">
                <div class="my-5 pt-5">
                    <div class="my-5 py-5">
                        <div class="fs-3 d-inline">Конференция организована медиа-проектом
                            <a class="ms-2" href="https://t.me/stranaimir" target="_blank">
                                <img src="stmlogo.svg" height="40" alt="О стране и мире" loading="lazy" style="margin-top: -5px;"/>
                            </a>
                        </div>
                        <h1 class="display-2 fw-bold text-uppercase my-5">Страна и мир: российские реалии 2023</h1>
                        <h2 class="display-6 my-5"><mark class="text-white bg-danger">Берлин, 23-24 ноября</mark></h2> 
                    </div>
                </div>
            </div>

        <div class="lead my-5">
            <p>23-24 ноября в Берлине состоится международная конференция «Страна и мир: российские реалии 2023», продолжающая традиционные декабрьские конференции «Российские реалии», которые с 2018 по 2022 год проводил московский Сахаровский центр.</p>
            <p>Мы будем транслировать её в Youtube, и к нам смогут присоединиться все желающие.</p>
            <p>Конференция будет посвящена российской агрессии против Украины и тому, как эта война меняет Россию. Мы будем говорить о трансформации политического режима и его идеологии, состоянии российского общества, репрессиях и военных преступлениях, новой волне эмиграции, международной политике и экономике.</p>
            <p>Всего на конференции предполагаются 26 докладов, среди выступающих — Екатерина Шульман, Кирилл Рогов, Сергей Гуриев, Николай Петров, Александр Морозов, Андрей Колесников.</p>
            <p>В этом году конференция стала международной. Наряду с российскими экспертами в ней примут участие болгарский политолог Иван Крастев, польская исследовательница Восточной Европы Мария Доманска, немецкий специалист по международной политике Ральф Фюкс, украинская правозащитница Александра Романцова, украинский философ Михаил Минаков и многие другие.</p>
            <p>Куратор программы — Борис Грозовский.</p>
            <p>Директор программы — Сергей Лукашевский.</p>
            <p>Мероприятие пройдёт на двух языках — русском и английском — с синхронным переводом.</p>
        </div>

    <div id="DayOne" class="mt-5 mb-3 pt-5">
        <h2 class="display-4 fw-bold">День первый</h2>
    </div>
    
    <div id="Session1" class="py-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 1</mark></h3>
        <h3 class="display-5 fw-bold">Эволюция политического режима во время войны</h3>
        <h4 class="display-6 fst-italic mb-4">10.00-12.00</h4>
        <p class="lead mb-5">Политические итоги 2023 года. Путин готовится к долгой войне — выдержит ли ее российская политическая система? Стал ли Путин «хромой уткой»? Начинают ли влиятельные силовики готовится разным сценариям политики «после Путина»? Пригожинский мятеж, региональные силовые компании — вступаем ли мы в период нового «передела пирога»?</p>

        {{ partial "session1.html" . }}

    </div>

    <div id="Session2" class="py-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 2</mark></h3>
        <h3 class="display-5 fw-bold">Репрессии и права человека</h3>
        <h4 class="display-6 fst-italic mb-4">12.30-13.30</h4>
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        {{ partial "session2.html" . }}

    </div>
    
    <div id="Session3" class="py-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 3</mark></h3>
        <h3 class="display-5 fw-bold">Антивоенная Россия в эмиграции</h3>
        <h4 class="display-6 fst-italic mb-4">14.30-16.00</h4>
        <p class="lead mb-5">За 2022-2023 годы из России уехало порядка 800 тыс человек. Это противники войны и люди, в основном придерживающихся демократической ориентации. Удается ли оказавшихся в различных странах мира людям ресоциализироваться? Вовлечены ли они в политику своих стран и России? Может ли и будет ли эмиграция оказывать существенное влияние на события в России?</p>

        {{ partial "session3.html" . }}

    </div>
    
    <div id="Session4" class="py-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 4</mark></h3>
        <h3 class="display-5 fw-bold">Идеология путинского режима после начала вторжения в Украину</h3>
        <h4 class="display-6 fst-italic mb-4">16.30-18.00</h4>
        <p class="lead mb-5">Играет ли идеология существенную роль в путинском оправдании войны с Украиной, или ее роль незначительна, и власть интересует лишь «официальный патриотизм»? Какова природа идеологии, формируемой Путиным: это империализм? Фашизм? Почему исторический реваншизм получил такую власть над российскими элитами?</p>

        {{ partial "session4.html" . }}

    </div>

    <div id="DayTwo" class="mt-5 mb-3">
        <h2 class="display-4 fw-bold">День второй</h2>
    </div>

    <div id="Session5" class="py-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 5</mark></h3>
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold">Мировая политика</h3><div class="ms-3 badge fw-normal text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-0"><span class="display-8">Начало</span></div></div>
        <h4 class="display-6 fst-italic mb-4">10.00-11.30</h4>
        <p class="lead mb-5">Коалиция западных стран быстро и решительно поддержала Украину в противостоянии российской агрессии. Но хватит ли у союзников решимости поддерживать противостояние, если эта война — надолго? И как будут дальше вести себя неприсоединившиеся или поддерживающие Россию страны?</p>

        {{ partial "session5.html" . }}

    </div>

    <div id="Session6" class="pb-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 6</mark></h3>
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold">Мировая политика</h3><div class="ms-3 badge fw-normal text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-0"><span class="display-8">Окончание</span></div></div>
        <h4 class="display-6 fst-italic mb-4">12.00-13.30</h4>
        <p class="lead mb-5">Коалиция западных стран быстро и решительно поддержала Украину в противостоянии российской агрессии. Но хватит ли у союзников решимости поддерживать противостояние, если эта война — надолго? И как будут дальше вести себя неприсоединившиеся или поддерживающие Россию страны?</p>

        {{ partial "session6.html" . }}

    </div>
    
    <div id="Session7" class="pb-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 7</mark></h3>
        <h3 class="display-5 fw-bold">Что мы знаем о настроениях россиян?</h3>
        <h4 class="display-6 fst-italic mb-4">14.30-16.00</h4>
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        {{ partial "session7.html" . }}

    </div>
    
    <div id="Session8" class="pb-5">
        <h3 class="display-6 mb-4"><mark class="text-white bg-danger">Сессия 8</mark></h3>
        <h3 class="display-5 fw-bold">Экономика военного времени</h3>
        <h4 class="display-6 fst-italic mb-4">16.30-18.30</h4>
        <p class="lead mb-5">Несмотря на беспрецедентные санкции, Россия избежала резкого экономического спада. Удалось приноровиться и к ограничениям на импорт технологической продукции: часть технологий поставляется через третьи страны, а часть — из дружественных России стран. Но удастся ли России значительно нарастить производство вооружений и вести долгую войну?</p>

        {{ partial "session8.html" . }}

    </div>

    </div>

    </div>

</div>

<div id="Registration" class="bckg-image">
<div class="container">
    <div class="row py-5 w-75 mx-auto">
        {{ partial "registration.html" . }}
    </div>
</div>
</div>

{{ end }}