{{ define "main" }}

<div class="container mt-5 pt-5">
    <h1 class="display-2 fw-bold text-uppercase">Российские реалии 2023: государство, гражданское общество</h1>
    <h2 class="display-4 fst-italic fw-bold text-uppercase">День первый</h2>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 1</mark></h3>
    <h3 class="display-6">Эволюция политического режима во время войны</h3>
    <h4 class="display-6 fst-italic">10.00-12.00</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 2</mark></h3>
    <h3 class="display-6">Репрессии и права человека</h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 3</mark></h3>
    <h3 class="display-6">Антивоенная Россия в эмиграции</h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 4</mark></h3>
    <h3 class="display-6">Идеология путинского режима после начала вторжения в Украину</h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h2 class="display-4 fst-italic fw-bold text-uppercase">День второй</h2>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 5</mark></h3>
    <h3 class="display-6">Мировая политика <span class="badge text-danger-emphasis bg-danger-subtle border border-danger-subtle fw-normal rounded-0">Начало</span></h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 6</mark></h3>
    <h3 class="display-6">Мировая политика <span class="badge text-danger-emphasis bg-danger-subtle border border-danger-subtle fw-normal rounded-0">Окончание</span></h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 7</mark></h3>
    <h3 class="display-6">Что мы знаем о настроениях россиян?</h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
    <h3 class="display-6"><mark class="text-white bg-danger">Сессия 8</mark></h3>
    <h3 class="display-6">Экономика военного времени</h3>
    <h4 class="display-6 fst-italic">12.30-13.30</h4>
</div>

{{ end }}